include ../head.pug

                  p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;') Hi there,
                  p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;')
                    | Thank you for confirming your e-mail address. We look forward to seeing you in our knowledge garden!

// END MAIN CONTENT AREA
include ../foot.pug
