include ../head.pug

                  p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;') Hi there,
                  p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;')
                    | Welcome to TopicQuests! Please click the link below to verify your e-mail address.
                  p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;')
                    a(href="${tokenLink}") Verify My Email

// END MAIN CONTENT AREA
include ../foot.pug
