// app global css

.ibis-icon {
    min-width: 25px;
    min-height: 25px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ibis-icon.ibis-map {
    background-image: url('../statics/images/ibis/map.png');
}

.ibis-icon.ibis-challenge {
    background-image: url('../statics/images/ibis/challenge.png');
}

.ibis-icon.ibis-decision {
    background-image: url('../statics/images/ibis/decision.png');
}

.ibis-icon.ibis-issue {
    background-image: url('../statics/images/ibis/issue.png');
}

.ibis-icon.ibis-question {
    background-image: url('../statics/images/ibis/issue.png');
}

.ibis-icon.ibis-map {
    background-image: url('../statics/images/ibis/map.png');
}

.ibis-icon.ibis-minus {
    background-image: url('../statics/images/ibis/minus.png');
}

.ibis-icon.ibis-con {
    background-image: url('../statics/images/ibis/minus.png');
}

.ibis-icon.ibis-note {
    background-image: url('../statics/images/ibis/note.png');
}

.ibis-icon.ibis-plus {
    background-image: url('../statics/images/ibis/plus.png');
}

.ibis-icon.ibis-pro {
    background-image: url('../statics/images/ibis/plus.png');
}

.ibis-icon.ibis-position {
    background-image: url('../statics/images/ibis/position.png');
}

.ibis-icon.ibis-answer {
    background-image: url('../statics/images/ibis/position.png');
}
.ibis-icon.ibis-reference {
    background-image: url('../statics/images/ibis/reference.png');
}
.ibis-icon.ibis-tag {
    background-image: url('../statics/images/tag.png');
}

