// app global css

.ibis-icon {
    min-width: 25px;
    min-height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ibis-icon.ibis-map {
    background-image: url('../statics/images/map.png');
}

.ibis-icon.ibis-challenge {
    background-image: url('../statics/images/challenge.png');
}

.ibis-icon.ibis-decision {
    background-image: url('../statics/images/decision.png');
}

.ibis-icon.ibis-issue {
    background-image: url('../statics/images/issue.png');
}

.ibis-icon.ibis-question {
    background-image: url('../statics/images/issue.png');
}

.ibis-icon.ibis-map {
    background-image: url('../statics/images/map.png');
}

.ibis-icon.ibis-minus {
    background-image: url('../statics/images/minus.png');
}

.ibis-icon.ibis-con {
    background-image: url('../statics/images/minus.png');
}

.ibis-icon.ibis-note {
    background-image: url('../statics/images/note.png');
}

.ibis-icon.ibis-plus {
    background-image: url('../statics/images/plus.png');
}

.ibis-icon.ibis-pro {
    background-image: url('../statics/images/plus.png');
}

.ibis-icon.ibis-position {
    background-image: url('../statics/images/position.png');
}

.ibis-icon.ibis-answer {
    background-image: url('../statics/images/position.png');
}
.ibis-icon.ibis-reference {
    background-image: url('../statics/images/reference.png');
}
.ibis-icon.ibis-tag {
    background-image: url('../statics/images/tag.png');
}
.ibis-icon.ibis-topic {
    background-image: url('../statics/images/cogwheel.png');
}
.ibis-icon.ibis-relation {
    background-image: url('../statics/images/link.png');
}
.ibis-icon.ibis-bookmark {
    background-image: url('../statics/images/bookmark.png');
}


